@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    @if (Request.IsAuthenticated)
    {
        <h1>Hola @Common.CurrentUser.Get.Name</h1>
        <p class="lead">Bienvenido!!!</p>
    }
    else
    {
        @*<h1>Sistema de Gestión de Clientes</h1>*@
        <p class="lead">Inicie Sesión para comenzar.</p>
        <p>
            <a href='@Url.Action("Login", "Account")' class="btn">Iniciar Sesión &raquo;</a>
        </p>
    }
</div>
<div class="row" style="display:inline-flex; flex-wrap:nowrap; justify-content:center">
    @if (Request.IsAuthenticated)
    {
      <div class="col-md-4">
            <h2>Fuentes</h2>
            <p>Gestionar Fuentes</p>
            <p><a class="btn" href='@Url.Action("Index", "Fuente")'>Fuentes &raquo;</a></p>
        </div>
    <div class="col-md-4">
               <h2>Usuarios</h2>
               <p>Creacion de Usuarios.</p>
               <p><a class="btn btn-default" href='@Url.Action("Register", "User")'>Crear Usuario &raquo;</a></p>
               <p>Visualización de Usuarios.</p>
               <p><a class="btn btn-default" href='@Url.Action("Index", "User")'>Visualizar Usuarios &raquo;</a></p>
        </div>
    }
</div>